/* You can add global styles to this file, and also import other style files */
@layer reset, primeng;

@layer reset {
  body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
  }

  button {
    &:focus {
      box-shadow: none;
    }
  }
}

body {
}
