/* You can add global styles to this file, and also import other style files */
@layer reset, primeng;

@layer reset {
  body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
  }

  button {
    &:focus {
      box-shadow: none;
    }
  }
}

.my-datatable {
  font-size: 0.75rem;
  th {
    background-color: #2793efbf;
  }
  tbody {
    tr {
      cursor: pointer;
      &:hover {
        background-color: #2563eb1a;
      }
    }
  }
}

.p-datatable.my-p-datatable-xs .p-datatable-tbody > tr > td {
  padding: 0.125rem 0.25rem;
}

.my-datatable.my-p-datatable-xs {
  font-size: 0.7rem;
}

